* {
    margin: 0 auto;
    padding: 0; 
	font-family: sans-serif;
	font-weight: 400;
	line-height: 26px;
}
/*CONTAINER HEADER*/
.container-header {
    display: flex;
    background-color: #000000e0;
    width: 100vw;
    position: fixed;
    z-index: 0;
}

.container-header p {
    color: #FFF;
    margin: 3px 0 0 8px;
}

.container-header p:hover {
    color: #615e5e;
    margin: 3px 0 0 8px;
}

.container-header a {
    display: flex;
    margin-top: 3px;
    text-decoration: none !important;
    direction: none;
    list-style-type: none;
    color: rgb(255, 255, 255);
}

.container-header a:hover {
    color: rgba(167, 25, 233, 0.644);
}

.container-header i {
    margin-top: 3px;
    color: #b8adadd8;
}

.container-header i:hover {
    color: #e47114d5;
    direction: none;
}
/*HEADER*/
header {
    height: 22vh;
	width: 100vw;
	background-color: #070607;
	display: flex;
	font-size: 1em;
    border-bottom: 0.5px solid rgb(255, 104, 4);
}

header h1 {
	text-transform: uppercase;
    text-align: center;
    display: flex;
}

header img {
    width: 12vw;
    height: 14vh;
    margin: 42px 0 0 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgb(255, 104, 4);
}

.container-nav ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    width: 60vw;   
    margin: -5% 0 0 30%; 
}

.container-nav li {
    border-left: 0.3px solid rgb(31, 30, 30);
    border-right: 0.3px solid rgb(27, 26, 26);
    padding: 0 0.5% 0 0.5%;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: -2% 0 0 0;
    
}

.container-nav li:hover {
    border-left: 0.3px solid rgb(29, 28, 27);
    padding: 0 1% 0 1%;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: -2% 0 0 0;
    background-color: rgba(39, 36, 36, 0.568);
    text-decoration: none;
    border-bottom: 0.5px solid rgba(35, 33, 36, 0.548);
    border-top: 0.5px solid rgba(35, 33, 36, 0.548);
}

.container-nav a {
    color: rgb(240, 231, 226);
    font-weight: 900;
    font-size: 130%;
    display: flex;
    justify-content: center;
    margin: 12% 0 0 0;
    flex-flow: row wrap;
    text-decoration: none;
    direction: none;
}

.container-nav a:hover {
    text-decoration: none;
    color: rgba(216, 74, 216, 0.678);
    direction: none;
}
/*FIM*/

/*MANI*/
.imagen-section img {
    width: 100vw;
    height: 70vh;
}

.imagen-section {
    margin: 0 0 -16px 0;
}

strong {
    color: #0ec518ad;
    font-size: 150%;
}

/*MAIN SECTION*/
.section-entra-plano {
    background-color: rgb(3, 3, 3);
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    height: 40vh;
    padding: 30px 50px 70px 50px;
    width: 100vw;
}

.section-entra-plano p {
    color: rgb(99, 93, 93);
    font-weight: 900;
}


.section-entra-plano h3 {
    color: #fdfaffe8;
    font-weight: 900;
}

.section-entra-plano h2 {
    font-weight: 900;
    color: rgb(214, 109, 11);
    line-height: 2.0em;
}

.section-entra-plano-3 {
    background-color: rgba(3, 3, 3, 0.952);
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    width: 100vw;
}

.section-entra-plano-3 h2 {
    font-weight: 900;
    color: rgb(214, 109, 11);
}

/*CONTAINER-PLANO*/
.container-planos {
    display: flex;
    text-align: center;
    justify-content: center;
}

.container-planos-1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.container-plano-mlc {
    border: 0.1px solid #00000054;
    width: 25vw;
    height: 47vh;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: 15px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.container-plano-mlc-1 {
    border: 0.1px solid #00000054;
    width: 25vw;
    height: 55vh;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: 15px;
    margin-bottom: 120px;
    margin-top: 50px;
}

.container-plano-mlc h4 {
    color: rgb(214, 109, 11);
    font-weight: 900;
    text-transform: uppercase;
}

.container-plano-mlc-1 h4 {
    color: rgb(214, 109, 11);
    font-weight: 900;
    text-transform: uppercase;
}

.container-plano-mlc p {
    border-bottom: 0.4px solid #00000077;
    border-top: 0.4px solid #00000077;
}

.container-plano-mlc-1 p {
    border-bottom: 0.4px solid #00000077;
    border-top: 0.4px solid #00000077;
}

.list-plano-mlc ul {
    list-style-type: none;
    margin: 0 0 0 -50px;
}

/*BUTTON*/
.btn-plano-mcl {
    margin-top: 10px;
}

.btn-plano-mcl-1 {
    margin-top: 20px;
}

/*SECTION-4 gympass*/
.container-section-4 {
    background-color: #070607;
    text-align: center;
    height: 37vh;
    width: 100vw;
}

.container-section-4 p {
    color: hsl(120, 75%, 48%);
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 15px;
}

.container-section-4 h3 {
    color: hsl(0, 83%, 60%);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    padding: 19px;
}

.container-section-4 strong {
    color: hsl(0, 83%, 60%);
}
/*FIM SECTION 4*/

/*SECTION HORAS*/
.container-hr-gn {
    display: flex;
    width: 90vw;
}

.container-ginastica {
    width: 40vw;   
}

.container-ginastica h4 {
    margin-bottom: 30px;
    font-weight: bold;
    margin-left: 28px;
}

.container-ginastica P {
    width: 20vw;
    text-align: start;
    margin-left: 30px;
    justify-content: baseline;
    text-align: justify;
}
/*horas*/
.container-horas {
    margin-bottom: 50px;
}

.container-horas strong {
    color: #070607;
    font-size: 15px;
}

.container-horas p {
    border-bottom: 0.4px solid #0000006c;
}

.container-horas h3 {
    margin-bottom: 30px;
}

.material-icone i {
    font-size: 18px;
    color: hsl(0, 83%, 60%);
}

.horas {
    text-align: start;
    margin-left: 30px;
}

#fechado strong {
    color: hsl(0, 83%, 60%);
}

.fechado  {
    margin-left: 66px;
}

#verde i {
    color: #53f00b;
}

.paragrafo {
    color: #f13319;
}
/*FIM SECTION HORS*/

/*container metodologia*/
.container-metodogia {
    display: flex;
    width: 100vw;
    margin-top: 40px;
    padding: 70px;
}

article {
    width: 22vw;
}

article ul {
    list-style-type: none;
    margin-left: -32px;
}

article h3 {
    color: #df0433;
    font-weight: 900;
    text-transform: uppercase;
}
/*fim metodologi*/

/*formulario php*/
.container-formulario {
    padding: 29px;
    width: 100vw;
}

.container-formulario, form {
    display: flex;
    flex-direction: column;
    background-color: #000;
    padding-bottom: 10px;
}

.container-formulario h5, label {
    font-weight: 900;
    color: rgb(100, 97, 96);
}

form {
    width: 40vw;
}

input[type=submit] {
    color: rgba(211, 0, 253, 0.589);
    background-color: #000;
    width: 120px;
    margin-top: 10px;
    margin-left: 220px;
    font-weight: 900;
}

input {
    padding: 5px;
    border: 0.1px solid rgba(211, 0, 253, 0.589);
    border-radius: 5px;
    color: #000;
}
/*fim formulario*/

/*footer*/
footer {
    display: flex !important;
    background-color: #000;
    height: 88vh;
    width: 100vw;
    padding-top: 50px;
    border-top: 1px solid rgba(209, 191, 191, 0.171);
}

footer p {
    color: rgb(180, 169, 169);
}

footer img {
    background-color: rgb(238, 214, 214);
    width: 43px;
    border: 1px solid rgb(226, 222, 222);
}

aside {
    width: 10vw;
}

.footer-aside {
    width: 50vw;
}

.footer-aside a {
    display: flex;
    justify-content: center;
    color: #0ec518ad;
    margin: 0 0 0 -25px;
    text-decoration: none;
}

.footer-aside a:hover {
    display: flex;
    justify-content: center;
    color: #c2c50ea2;
    margin: 0 0 0 -25px;
    text-decoration: none;
}

.footer-aside img {
    border-radius: 10px;
}

.pagseguro {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    width: 48vw;
}

.pagseguro p {
    width: 21vw;
}

.pagseguro img {
    width: 200px;
    height: 230px;
    border-radius: 20px;
}

.endereco {
    width: 30vw;
    display: flex;
    flex-direction: column;
    color: rgb(180, 169, 169);
}

/*fim-footer*/

@media screen and (min-width: 320px) and (max-width:558px){
    body {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #mainMenu {
        display: none;
    }

    #mainMenu.toggleCls {
        display: block;
    }

    .container-header {
        border-bottom: 1px solid rgba(240, 113, 9, 0.137);
    }

    .container-header p{
        font-size: 5px;
    }

    header {
        height: 18vh;
    }

    .hamIcon h2 {
        display: flex;
        justify-content: flex-end;
        color: rgb(240, 113, 9);
        margin-top: -50px;
        padding: 0 10px 0 0;
    }

    header h1 img {
        width: 50vw;
        height: 10vh;
        border: 1px solid rgba(240, 113, 9, 0.137);
        border-radius: 40px;
    }

    .container-nav li {
        border: none;
        padding: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        font-size: 10px;
        display: flex;
        justify-content: flex-end;
    }

    .container-nav ul {
        background-color: rgba(10, 10, 10, 0.808);
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin-top: 0px;
        margin-left: 157px;
    }

    .imagen-section img {
        width: 100vw;
        height: 47vh;
    }

    /*main section*/
    .section-entra-plano h3 {
        font-size: 15px;
        color: rgb(214, 109, 11);
    }

    .section-entra-plano h2 {
        font-size: 10px;
    }

    .section-entra-plano p {
        font-size: 10px;
        line-height: 1.5em;
    }

    /*container-plano*/
    .container-planos {
        display: flex;
        flex-direction: column;
        margin-left: 48px;
    }

    .container-plano-mlc {
        width: 70vw;
        padding: 0;
        margin: 10px;
    }

    /*SECTION 2 OUTROS PLANOS*/
    .section-entra-plano {
        height: 30vh;
    }

    .container-plano-mlc-1 {
        width: 70vw;
        padding: 0;
        margin: 10px;
    }

    /*SECTION HORA*/
    .container-hr-gn {
        display: flex;
        flex-direction: column;
    }

    .container-ginastica {
        width: 80vw;
        margin-left: -5px;
    }

    .container-ginastica h4{
        margin-top: 17px;
        border-bottom: 1px solid #f13319;
    }

    .container-ginastica p {
        width: 70vw;
    }

    .container-horas {
        width: 80vw;

    }

    .container-horas strong {
        font-size: 10px;
    }

    /*container metodologia*/
    .container-metodogia {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .container-metodogia article {
        width: 90vw;
        text-align: center;
        padding: 15px;
    }

    /*formulario index-php*/
    .container-formulario {
        width: 100vw;
        padding: 0 100px 0 0;
    }

    .container-formulario h5 {
        font-size: 13px;
        padding: 10px 50px 0 70px;
        width: 100vw;

    }

    .container-formulario input {
        width: 70vw;
        padding: 1px;

    }

    .container-formulario label {
        font-size: 10px;
    }

    input[type=submit] {
        position: relative;
        text-align: center;
        margin: 9px 0 0 0;

    }

    /*footer*/
    footer {
        display: flex;
        flex-direction: column;
        background-color: #000;
        height: 150vh;
        width: 100vw;
    }

    .list-redes-social {
        display: flex;
        flex-wrap: wrap; 
        width: 100vw;
        margin-left: 22px;
    }

    .list-redes-social a {
        padding: 8px;
        margin: 2px;
    }

    .list-redes-social img {
        padding: 3px;
        border-radius: 50px;
        margin: 0;
    }

    .list-redes-social figcaption {
        display: none;
    }

    /*endereço*/
    .endereco {
        width: 100vw;
        padding: 2px;
        margin: 2px;
    }

    .endereco p {
        padding:0 20px 0 20px;
    }

    .footer-aside img {
        margin-top: -10px;
        margin-left: 50px;
    }

    .footer-hrs {
        border-bottom: 1px solid #f0e9e83b;
        border-top: 1px solid #f0e9e83b;
        padding: 10px;
    }

    .footer-aside {
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin: 15px;
    }

    .footer-aside h5 {
        font-size: 10px;
    }

    .pagseguro {
        display: flex;
        flex-direction: column;
        margin: 35px 0 0 -5px;
    }
    
    .pagseguro aside {
        margin: 0;
        padding: 0;
    }

    .pagseguro p {
        display: none;
    }

    .pagseguro img {
        width: 60vw;
        height: 27vh;
        margin-top: -35px;
    }

} 

@media screen and (min-width: 200px) and (max-width:360x) {
    #mainMenu  {
        display: none;
    }

    #mainMenu.toggleCls {
        display: block;
    }

}

@media screen and (min-width: 270px) and (max-width:411x) {
    #mainMenu {
        display: none;
    }

    #mainMenu.toggleCls {
        display: block;
    }

}
@media screen and (min-width: 270px) and (max-width:731px) {
    #mainMenu {
        display: none;
    }

    #mainMenu.toggleCls {
        display: block;
    }

}
@media screen and (min-width: 731px) and (max-width: 823px) {
   

}

@media screen and (min-width: 823px) and (max-width: 1368px) {
    .hamIcon {
        display: none;
        
    }

}



