* {
    margin: 0 auto;
    padding: 0; 
	font-family: sans-serif;
	font-weight: 400;
    line-height: 26px;
}

body {
    background-color: #000 !important;
}
/*CONTAINER HEADER*/
.container-header {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 0;
}

.container-header p {
    color: rgb(145, 135, 135);
    margin: 3px 0 0 8px;
}

.container-header p:hover {
    color: rgb(250, 131, 33);
    margin: 3px 0 0 8px;
}

.container-header a {
    display: flex;
    margin-top: 3px;
    text-decoration: none !important;
    direction: none;
    list-style-type: none;
    color: rgb(145, 135, 135);
}

.container-header a:hover {
    color: rgb(250, 131, 33);
}

.container-header i {
    margin-top: 3px;
    color: rgb(145, 135, 135);
    font-size: 30px;
}

.container-header i:hover {
    color: rgb(250, 131, 33);
    direction: none;
}
/*HEADER*/
header {
    height: 130px;
	width: 100%;
	background-color: #070607;
	display: flex;
	font-size: 1em;
   
}

header h1 {
	text-transform: uppercase;
    text-align: center;
    display: flex;
}

header h1 img {
    width: 150px;
    height: 80px;
    margin: 42px 0 0 0;
    border-radius: 10px;
    border: 1px solid rgb(250, 131, 33);
}

.container-nav {
    display: flex;
    justify-content: flex-end;
}

.container-nav ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    width: 60%;   
    margin: -60px 100px 0 0;
}

.container-nav li {
    border-left: 0.3px solid rgb(27, 26, 26);
    border-right: 0.3px solid rgb(27, 26, 26);
    padding: 0 0.5% 0 0.5%;
    width: 80%;
    text-align: center;
    justify-content: center;
    margin: -2% 0 0 0;
    
}

.container-nav li:hover {
    border-left: 0.3px solid rgb(27, 26, 26);
    padding: 0 1% 0 1%;
    width: 80%;
    text-align: center;
    justify-content: center;
    margin: -2% 0 0 0;
    background-color: rgb(27, 26, 26);
    text-decoration: none;
    border-bottom: 0.5px solid rgb(27, 26, 26);
    border-top: 0.5px solid rgb(27, 26, 26);
}

.container-nav a {
    color: rgb(145, 135, 135);
    font-weight: 900;
    font-size: 130%;
    display: flex;
    justify-content: center;
    margin: 12% 0 0 0;
    flex-flow: row wrap;
    text-decoration: none;
    direction: none;
}

.container-nav a:hover {
    text-decoration: none;
    color: rgb(250, 131, 33);
    direction: none;
}
/*FIM*/

/*animacao slide*/
#galeria { 
    margin: 1px auto;
    width: 100%;
    height: 95vh;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

#galeria img {
    width: 100vw;
}

.foto {
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 19s;
    animation-iteration-count: infinite;
}

@keyframes animacao {

    25% {
        
        opacity: 1;
        transform: scale(1.1,1.1);
    }

    50% {
        opacity: 0;
    }
}

.foto:nth-child(1){
    animation-delay: 0s;
}
.foto:nth-child(2){
    animation-delay: 5s;
}
.foto:nth-child(3){
    animation-delay: 10s;
}
.foto:nth-child(4){
    animation-delay: 15s;
}
.foto:nth-child(5){
    animation-delay: 20s;
}
/*fim animaçõa slide*/

/* mian section */
main {
    background-color: rgb(19, 18, 18);
}
strong {
    color: rgb(189, 11, 196);
    font-size: 150%;
}

span {
    color: rgb(250, 131, 33);
}
.btn-outline-dark {
    color: #000 !important;
}
.section-plano {
    background-color: rgb(3, 3, 3);
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    height: 40%;
    padding: 30px 50px 70px 50px;
    width: 100%;
}

p {
    color: rgb(243, 230, 230);
    font-weight: 900;
}


.section-plano h3 {
    color: #fdfaffe8;
    font-weight: 400;
}

.section-plano h2 {
    font-weight: 900;
    color: rgb(250, 131, 33);
    line-height: 2.0em;
}

.section-plano {
    background-color: rgba(3, 3, 3, 0.952);
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    width: 99.5%;
}

.section-plano-h2 h2 {
    font-weight: 900;
    color: rgb(250, 131, 33);
    text-align: center;
}

/*container */
.btn-plano {
    display: none;
}
.container-planos {
    display: flex;
    text-align: center;
    justify-content: center;
}

.container-planos {
    display: flex;
    text-align: center;
    justify-content: center;
}

.container-plano-mlc {
    background-color: rgba(210, 209, 211, 0.795);
    border-radius: 10px;
    border: 3px solid #000000;
    width: 25%;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: 15px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.container-plano-mlc h4 {
    color: rgb(10, 10, 9);
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.container-plano-mlc p {
    border-bottom: 0.4px solid #00000077;
    border-top: 0.4px solid #00000077;
    background-color: rgb(250, 131, 33);
    color: #FFF;
   
}

.list-plano-mlc ul {
    list-style-type: none;
    margin: 0 0 0 -50px;
}
.list-plano-mlc ul li{
   font-size: 1.3vw;
}
/*button container*/
.btn-plano-mcl {
    margin-top: 10px;
} 


/*section gympass*/
.container-section-4 {
    background-color: #070607;
    text-align: center;
    height: 37vh;
    width: 99.5%;
}

.container-section-4 p {
    color: hsl(120, 75%, 48%);
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 15px;
}

.container-section-4 h3 {
    color: hsl(0, 83%, 60%);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    padding: 19px;
}

.container-section-4 strong {
    color: hsl(0, 83%, 60%);
}
/*fim secion*/

/*section horas e ginastica*/
.container-hr-gn {
    display: flex;
    width: 90%;
}

.container-ginastica {
    width: 40%;   
}

.container-ginastica h4 {
    margin-bottom: 30px;
    font-weight: bold;
    margin-left: 28px;
    color: #FFF;
}

.container-ginastica P {
    width: 20vw;
    text-align: start;
    margin-left: 30px;
    justify-content: baseline;
    text-align: justify;
}

/*horas*/
.container-horas, h4 {
    margin-bottom: 50px;
    color: #FFF;
    width: 50%;
}

.container-horas strong {
    color: #f1edf1;
    font-size: 15px;
}

.container-horas p {
    border-bottom: 0.4px solid #807a7a6c;
}

.material-icone i {
    font-size: 18px;
    color: hsl(0, 83%, 60%);
}

.horas, .fechado {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

#fechado strong {
    color: hsl(0, 83%, 60%);
}

.fechado  {
    margin-left: 66px;
}

#verde i {
    color: #53f00b;
}

.paragrafo {
    color: #f13319;
}
/*fim section horas e ginastica*/

/*container metodologia*/
.metodologia  {
    text-align: center;
    padding: 15px;
    width: 80vw;
}
.metodologia h3 {
    color: #df0433;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 20px;
}
.container-metodogia {
    text-align: center;
    display: flex;
    width: 100vw;
    padding: 70px;
}

article {
    width: 22vw;
}

article ul {
    color: #FFF;
}

article h3 {
    color: #df0433;
    font-weight: 900;
    text-transform: uppercase;
}
/*fim metodologi*/

/*formulario php*/
.container-formulario {
    padding: 29px;
    width: 99.5%;
}

.container-formulario, form {
    display: flex;
    flex-direction: column;
    background-color: #000;
    padding-bottom: 10px;
}

.container-formulario h5, label {
    font-weight: 900;
    color: rgb(100, 97, 96);
}

form {
    width: 40vw;
}

input[type=submit] {
    color: rgb(250, 131, 33);
    background-color: #000;
    width: 120px;
    margin-top: 10px;
    margin-left: 220px;
    font-weight: 900;
}

input {
    padding: 5px;
    border: 0.1px solid rgb(250, 131, 33);
    border-radius: 5px;
    color: #000;
}
/*fim formulario*/

/*footer*/
footer {
    display: flex !important;
    background-color: #000;
    height: 70vh;
    width: 99.9%;
    padding-top: 50px;
    border-top: 1px solid rgba(209, 191, 191, 0.171);
}

footer p {
    color: rgb(180, 169, 169);
}

footer img {
    background-color: rgb(238, 214, 214);
    width: 43px;
    border: 1px solid rgb(226, 222, 222);
}

aside {
    width: 10vw;
}

.aside-whats {
    width: 50%;
}

.aside-whats a {
    display: flex;
    justify-content: center;
    color: rgb(189, 11, 196);
    text-decoration: none;
}

.aside-whats a:hover {
    display: flex;
    justify-content: center;
    color: #0ec518ad;
    text-decoration: none;
}

.aside-whats img {
    border-radius: 10px;
}

/*pagseguro*/
.pagseguro {
    margin: 0 0 0 27%;
}

.pagseguro p{
    width: 30vw;
}

.pagseguro img {
    width: 300px;
    height: 100px;
    background-color: #000;
    border: none;  
}
/*redes-sociais*/
.list-redes-social img {
    border-radius: 10px;
}

.list-redes-social a figure {
    margin: 0 0 40px 0;
}

.list-redes-social a:hover {
    color: rgb(214, 109, 11);
    text-decoration: none;
    
}

.endereco {
    width: 30vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: rgb(180, 169, 169);
}

.endereco p {
    margin-left: -10px;
}

.img-cartoes img{
    width: 400px;
    height: 50px;
}

.autor {
    font-size: 7.7px;
    padding: 0 20px 20px 20px;
}

/*fim-footer*/
/*---- @media screen --------------------------*/
@media screen and (min-width: 320px) and (max-width:640px){
    body {
        margin: 0;
        padding: 0;
    }
/*menu javascript*/
    #mainMenu, .pagseguro p, .fixed, .container-metodogia, .container-ginastica, .container-header p {
        display: none;
    }
    
    #mainMenu.toggleCls {
        display: block;
    }
/*fim menu js*/

    .container-header {
        border-bottom: 1px solid rgba(240, 113, 9, 0.137);
    }

    header {
        height: 110px;
    }

    .hamIcon h2 {
        display: flex;
        justify-content: flex-end;
        color: rgb(240, 113, 9);
        margin-top: -50px;
        padding: 0 19px 10px 0;
    }

    header h1 img {
        width: 150px;
        height: 63px;
        border: 1px solid rgb(240, 113, 9);
        border-radius: 10px;
    }

    .container-nav li {
        border: none;
        padding: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        font-size: 10px !important;
        display: flex;
        justify-content: flex-start;
    }

    .container-nav ul {
        background-color: rgb(10, 10, 10);
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50vw;
        height: 43vh;
        margin-top: 0px;
        margin-left: 160px;
        z-index: 1;
    }

    .list-plano-mlc ul li{
        font-size: 4.2vw;
     }

    #galeria, .imagen-section img {
        width: 100%;
        height: 40vh;
    }

    /*main section*/
    .section-plano h3 {
        font-size: 15px;
        color: rgb(214, 109, 11);
    }

    .section-plano-h2 h2 {
        display: none;
    }
    .section-plano h2 {
        font-size: 10px;
    }

    .section-plano p {
        font-size: 10px;
        line-height: 1.5em;
    }

    .section-plano {
        height: 30vh;
    }

    /*container-plano*/
    .btn-plano {
        display: block;
        text-align: center;
    }
    #plano-none {
        display: none;
    }
    .container-planos {
        display: flex;
        flex-direction: column;
        margin-left: 13%;
        width: 100vw;
    }

    .container-plano-mlc, .container-plano-mlc-1{
        width: 70vw;
        height: 45vh;
        padding: 0;
        margin: 10px;
    }

    .container-horas {
        width: 80vw;
        margin-top: 40px;

    }

    .container-horas strong {
        font-size: 10px;
    }

    .metodologia {
        display: none;
    }

   
    /*formulario index-php*/
    .container-formulario {
        width: 100vw;
        padding: 0 100px 0 0;
    }

    .container-formulario h5 {
        font-size: 13px;
        padding: 10px 50px 0 70px;
        width: 100vw;

    }

    .container-formulario input {
        width: 70vw;
        padding: 1px;

    }

    .container-formulario label {
        font-size: 10px;
    }

    input[type=submit] {
        position: relative;
        margin: 9px 0 0 0;
        width: 100px;

    }

    /*footer*/
    footer {
        display: flex;
        flex-direction: column;
        background-color: #000;
        height: 130vh;
        width: 100vw;
    }

    .list-redes-social {
        display: flex;
        flex-wrap: wrap; 
        width: 100vw;
        margin-left: 22px;
    }

    .list-redes-social a {
        padding: 8px;
        margin: 2px;
    }

    .list-redes-social img {
        padding: 3px;
        border-radius: 50px;
        margin: 0;
    }

    .list-redes-social figcaption {
        display: none;
    }

    /*endereço*/
    .endereco {
        width: 100%;
        padding: 2px;
        margin: 2px;
    }

    .endereco p {
        padding:0 20px 0 20px;
    }

    .footer-aside img {
        margin-left: 50px;
    }

    .footer-hrs {
        border-top: 1px solid #f0e9e83b;
        padding: 10px;
        background-color: #000;
    }
    /*whatsapp*/
    .aside-whats {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #000;
        text-align: center;
        padding: 0;
        
    }

    .aside-whats h5 {
        font-size: 16px;
    }

    .pagseguro {
        display: flex;
        flex-direction: column;
        background-color: #000;
        margin: 0 0 0 12px;
    }
   
    .pagseguro img {
        width: 330px;
        height: 100px;
        border-radius: 20px;
    }
    

} 
/*---------  media screen  -----------*/
@media screen and (min-width: 630px) and (max-width:700px) {
    body {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #mainMenu, .pagseguro p, .fixed, .container-metodogia, .container-ginastica, .metodologia {
        display: none;
    }

    #mainMenu.toggleCls, .hamIcon {
        display: block;
        margin-right: 5%;
    }

    .container-header {
        border-bottom: 1px solid rgba(240, 113, 9, 0.137);
    }

    .container-header p{
        font-size: 9px;
    }

    header {
        height: 115px;
    }

    .hamIcon h2 {
        display: flex;
        justify-content: flex-end;
        color: rgb(240, 113, 9);
        margin-top: -50px;
        padding: 0 10px 0 0;
    }

    header h1 img {
        width: 150px;
        height: 72px;
        margin: 42px 0 0 0;
        border-radius: 10px;
        border: 1px solid rgb(255, 104, 4);
    }

    .container-nav li {
        border: none;
        padding: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        font-size: 20px;
        display: flex;
        justify-content: flex-start;
    }

    .container-nav ul {
        background-color: #000;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 0px;
        z-index: 1;
    }

    .imagen-section {
        width: 100%;
        height: 40vh !important;
    }

    .imagen-section img {
        width: 100%;
        height: 55vh;
    }
   
    #galeria {
        width: 100%;
        height: 40vh;
    }

    /*main section*/
    .section-entra-plano h3 {
        font-size: 15px;
        color: rgb(214, 109, 11);
    }

    .section-entra-plano h2, .container-horas strong {
        font-size: 10px;
    }

    .section-entra-plano p {
        font-size: 10px;
        line-height: 1.5em;
    }

    .section-entra-plano {
        height: 25vh;
    }

    .container-plano-mlc {
        width: 74vw;
        height: 42vh;

    }

    .container-horas {
        width: 80vw;
        margin: 50px 0 10px 0;

    }

    /*formulario index-php*/
    .container-formulario {
        width: 100vw ;
        padding: 0 100px 0 0;
    }

    .container-formulario h5 {
        font-size: 13px;
        padding: 10px 50px 0 70px;
        width: 100vw;

    }

    .container-formulario input {
        width: 70vw;
        padding: 1px;

    }

    .container-formulario label {
        font-size: 10px;
    }

    input[type=submit] {
        position: relative;
        text-align: center;
        margin: 9px 0 0 0;

    }

    /*footer*/
    footer {
        display: flex;
        flex-direction: column;
        background-color: #000;
        height: 150vh;
        width: 100%;
    }

    .list-redes-social {
        display: flex;
        flex-wrap: wrap; 
        width: 100%;
        margin-left: 22px;
    }

    .list-redes-social a {
        padding: 8px;
        margin: 2px;
    }

    .list-redes-social img {
        padding: 3px;
        border-radius: 50px;
        margin: 0;
    }

    .list-redes-social figcaption {
        display: none;
    }

    /*endereço*/
    .endereco {
        width: 100%;
        padding: 2px;
        margin: 2px;
    }

    .endereco p {
        padding:0 20px 0 20px;
    }

    .footer-hrs {
        border-top: 1px solid #f0e9e83b;
        padding: 10px;
        background-color: #000;
    }
    /*whatsapp*/
    .aside-whats {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #000;
        
    }

    .aside-whats img {
        margin-left: 110px;
    }

    .aside-whats h5 {
        font-size: 16px;
    }

    .pagseguro {
        display: flex;
        flex-direction: column;
        margin: 35px 0 0 -15px;
        background-color: #000;
    }
  
    .pagseguro p {
        display: none;
    }

    .pagseguro img {
        width: 300px;
        height: 100px;
        margin-left: 60px;
    }
}

@media screen and (min-width: 700px) and (max-width:800px) {
    #mainMenu, .fixed {
        display: none;
    }

    #mainMenu.toggleCls {
        display: block;
    }
}

@media screen and (min-width: 823px) and (max-width: 1368px) {
    .hamIcon {
        display: none;
        
    }

}